@import 'variable.scss';

html, body {
  width: 100%;
  height: 100%;
}

html {
  background-color: $body-bg;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

#app {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: $primary;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: $error;
}
