@import 'variable.scss';

html, body {
  width: 100%;
  height: 100%;
}

html {
  background-color: $body-bg;
}

.el-menu-item, .el-submenu__title {
  height: 42px;
  line-height: 42px;
  margin: 10px 0;
}

.el-submenu .el-menu-item {
  height: 42px;
  line-height: 42px;
  margin: 5px 0;
  padding-left: 60px !important;
}

.el-menu-item:hover, .el-submenu__title:hover {
  color: $white;
  background-color: $primary;
}

.el-menu-item:hover i, .el-submenu__title:hover i {
  color: $white;
}

.el-menu-item.is-active {
  color: $white;
  background-color: $primary;
}

.el-main {
  flex: none;
}

.el-card {
  border-radius: $radius;
}

.el-notification {
  border-radius: $radius;
}

.markdown .markdown-content .markdown-editor .index,
.markdown .markdown-content .markdown-editor .index li {
  background: $grey !important;
  color: $dark !important;
}

.markdown .markdown-content .markdown-editor textarea {
  background: $body-bg !important;
}

.el-link {
  margin: 0 4px;
}

.el-pagination {
  float: right;
  margin: 20px 0;
}

.el-tag {
  border-radius: $radius;
  margin: 5px 5px 5px 0;
}