$primary: #1890FF;
$success: #52C41A;
$warning: #FAAD15;
$error: #FF4D4F;
$info: #1890FF;

$link: #1890FF;
$text: #ADADAD;

$white: #FFFFFF;
$grey: #CCCCCC;
$dark: #333333;
$black: #000000;

$border: #F2F4F5;
$body-bg: #F2F4F5;
$module-bg: #FFFFFF;
$radius: 2px;

$font-size-root: 14px;
$font-size-large: 16px;
$font-size-small: 12px;